// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$translucent-gray: rgba(0, 0, 0, 0.5);
#content {
  width: 99%;

  #header {
    display: block;
    position: relative;
    %h1 {
      cursor: pointer;
    }
    .form_search {
      background: $translucent-gray;

      #objetos {
        margin: .3em;
        width: 40%;
      }

      #select_plano, #select_espec {
        margin: .3em;
        height: 1em;
      }
    }
  }
  #footer {
    display: block;
    position: relative;
  }

  #map_content{
    display: block;
    position: absolute;
    width:99%;
    height:99%;
    margin : 0em;
    padding: .2em;

    #geolocation {
      width:99%;
      height:99%;
    }
  } 
}