<p id="notice"><%= notice %></p>

<p>
  <strong>Especialidade:</strong>
  <%= @dm_especialidade.especialidade %>
</p>

<%= link_to 'Edit', edit_dm_especialidade_path(@dm_especialidade) %> |
<%= link_to 'Back', dm_especialidades_path %>
